html, body {
  // text-align: center;
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
